body {
  font-family: Lato, Arial;
}

table {
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #dfdfdf;
}

td, th {
  padding: 5px 10px;
  text-align: center;
}

td {
  white-space: nowrap;
}

th {
  border-bottom: 1px solid silver;
}

.gouverneurs1 {
  font-weight: bold;
}

.win {
  color: blue;
}